@charset "UTF-8";
footer{
  width: 100%;
  height: 100px;
  /* background-color: gray; */
  border-top:2px solid #222;
}
#bottomMenu{
  width:100%;
  height:20px;
  /* position:relative; */
}
#bottomMenu ul{
  margin-top: 15px;
}
#bottomMenu ul li{
  float: left;
  padding:5px 20px;
  border-right:1px solid #ddd;
}
#bottomMenu ul li:last-child{
  border-right:none;
  /* 맨마지막은 오른쪽에 세로선 없앰 */
}
#bottomMenu ul li a, #bottomMenu ul li a:visited{
  font-size: 15px;
  color:#666;
}
#sns{
  /* position:absolute; */
  /* right: 0; */
  float: right;
 
}
#sns ul li{
  display: inline-block;
  border:none;
  padding:5px;
  
}
#company{
  clear: left;
  margin-top: 25px;
  margin-left: 20px;
}
p{
  font-size: 14px;
  color:#aaa;
}